.footer {
  position: relative;
  text-align: center;
  margin: 4rem 0 0 0;
}

.footerNav {
  display: flex;
  justify-content: space-around;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.footerNavItem {
  list-style: none;
}
