.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0 0 1.5rem 0;
  margin: 0 2rem 1rem 2rem;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 0.65rem;
}

.navigationItem a {
  color: currentColor;
  font-size: 1.25rem;
  white-space: nowrap;
}

.emoji {
  display: none;
}

@media (min-width: 650px) {
  .emoji {
    display: initial;
  }
}
