.navigationWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
}

.navigation {
  font-size: 0.9rem;
  width: calc(100% - 10vmin);
  max-width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem 1.75rem;
  margin: 0 auto;
}

.navigationItem {
  position: relative;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  margin: 0 0.65rem;
}

.navigationItem a {
  text-decoration: none;
  white-space: nowrap;
}

.navigationItem a:hover .emoji,
.navigationItem [aria-current] .emoji {
  transform: translateY(-0.6rem);
  opacity: 1;
}

.emoji {
  transform: translateY(0);
  opacity: 0;
  font-size: 0.6rem;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 650px) {
  .navigation {
    font-size: 1rem;
    justify-content: flex-start;
  }
  .emoji {
    /*   display: initial; */
  }
}
