@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.65;
  color: #222;
  background: #fff;
  margin: 0;
}

p {
  margin: 1.5rem 0;
}

h1,
h2,
h3 {
  font-size: 1rem;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: underline;
  color: currentColor;
  transition: color 300ms ease-in-out;
}

a:hover,
a[aria-current] {
  color: #bbdae4 !important;
}

input,
textarea {
  font: inherit;
  border: 1px solid #222;
  transition: background 300ms ease-in-out;
}

input:focus,
textarea:focus {
  border-color: rebeccapurple;
}

button {
  font: inherit;
  border: none;
  color: #fff;
  background-color: #222;
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

button:focus,
button:hover {
  background-color: rebeccapurple;
}

textarea {
  resize: none;
}

.wrapper {
  width: calc(100% - 10vmin);
  min-height: calc(100vh - 400px);
  margin: 60px auto;
  padding: 25px 0;
}

.split {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 1200px) {
  .split {
    flex-direction: row;
  }
}

/**
 * home
 */
.home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20vh;
  height: 100%;
  text-align: center;
}

.home-subtitle {
  text-align: center;
  padding: 0 1rem;
  margin: 0;
}

.home-img {
  text-align: center;
}

.home-link {
  margin: 10vh 0 4rem 0;
  text-decoration: none;
}

/**
 * page
 */
.page-title {
  font-family: 'DM Serif Display', serif;
  line-height: 1.15;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 2rem 0 2.55rem 0;
}

.page-hero-img {
  text-align: center;
  margin: 3rem 0 1rem 0;
}

@media screen and (min-width: 1200px) {
  .page-title {
    margin: 2rem 0 3rem 0;
  }

  .page-hero-img {
    margin: 3.5rem 0 3rem 8rem;
  }
}

/**
 * article grid
 */
.article-list {
  margin: 4rem 0 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.back {
  font-size: 1.7rem;
  position: relative;
  top: 0.3rem;
  margin-right: 0.25rem;
}

/**
 *
 */
.section-headline {
  margin: 0;
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.25;
}

.section-subheading {
  font-size: 1rem;
  text-decoration: none;
  margin: 0;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.contact-form {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-areas:
    'name email'
    'message message';
}

.contact-form input,
.contact-form textarea {
  width: 100%;
}

.contact-form__label {
  margin: 0;
}

.contact-form__name {
  grid-area: name;
}

.contact-form__email {
  grid-area: email;
}

.contact-form__message {
  grid-area: message;
}

/**
 * utilities
 */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
